@import "./../assets/mixins";
@import "./../assets/functions";
@import "./../assets/vars";
@import "./../assets/keyframes";
@import "./../modules/nav";

// BREAKPOINT LAPTOP
@media (max-width: $ss_laptop) {
	.container{
		max-width: 880px;
	}
	.wrapper{
		font-size: 16px;
	}
	.nav{
		margin-left: 35px;
		&__item{
			&+& {
				margin-left: 40px;
			}
		}
	}
	.img-links{
		&-link{
			&--about{
				top: -107px;
				left: 65.8%;
				width: 2em;
				height: 1.5em;
				font-size: 7.2em;
			}
			&--career{
				top: -94px;
				left: 53%;
				width: 1em;
				height: 1em;
				font-size: 12em;
			}
			&--values{
				top: -59px;
				left: 77%;
				width: 1em;
				height: 1em;
				font-size: 12em;
			}
			&--program{
				top: -270px;
				left: 62%;
				width: 1em;
				height: 1em;
				font-size: 9em;
			}
		}
	}
	.s-first-screen{
		min-height: 513px;
		&__interactive{
			padding-top: 100px;
		}
	}
	.s-first-screen-secondary{
		padding-top: 160px;
	}
	.s-numbers{
		&__card{
			&-title{
				font-size: 28px;
			}
		}
	}
	.s-find{
		&-card{
			width: 46%;
		}
	}
	@keyframes move {
		0% {
			left: 55%;
			top: -32%;
		}
		45%{
					transform: rotate(0);
		}
		50% {
			transform: rotate(-20deg);
			left: 72%;
			top: -12%;
		}
	}
	@keyframes move-two {
		0% {
			top: 32%;
			left: 51%;
		}
		45%{
					transform: rotate(0);
		}
		50% {
			transform: rotate(-10deg);
			left: 37%;
			top: 14%;
		}
	}
	@keyframes move-three {
		0% {
			left: 85%;
			top: -12%;
		}
		50% {
			left: 80%;
			top: -5%;
		}
	}
	@keyframes move-four {
		0% {
			top: 36%;
			left: 64%;
		}
		50% {
			top: 30%;
			left: 69%;
		}
	}
	@keyframes move-five {
		0% {
			left: 85%;
			top: -54%;
		}
		60% {
			left: 50%;
			top: 10%;
		}
		100% {
			transform: rotate(40deg);
			left: 30%;
			top: 25%;
		}
	}
	.animation{
		&__car-down{
			top: -32%;
			width: 1em;
			height: 1em;
			font-size: 1.5em;
		}
		&__car-up{
			top: 32%;
			width: 1em;
			height: 1em;
			font-size: 1.5em;
		}
		&__car-right{
			top: 36%;
			width: 1em;
			height: 1em;
			font-size: 1.5em;
		}
		&__car-left{
			top: -12%;
			width: 1em;
			height: 1em;
			font-size: 1.5em;
		}
		&__plane{
			left: 85%;
			top: -54%;	
			width: 1em;
			height: 1em;
			font-size: 5em;
		}
	}
}

// BREAKPOINT TABLET
@media (max-width: $ss_tablet) {
	@include nav-module($color_primary, #fff);
	.wrapper{
		font-size: 15px;
	}
	.container{
		padding: 0 15px;
	}
	.nav{
		flex-direction: column;
		&-btn{
			display: block;
		}
		&__item{
			color: #fff;
			&.content-tab--active{
				text-decoration: underline;
			}
		}
	}
	.s-first-screen{
		min-height: 313px;
		padding-top: 75px;
		background-size: 57% auto;
		&__interactive{
			padding-top: 60px;
		}
	}
	.img-links{
		&-link{
			&--about{
				top: -15px;
				left: 69.5%;
				width: 2em;
				height: 1.5em;
				font-size: 4.5em;
			}
			&--career{
				top: 0px;
				left: 60%;
				width: 1em;
				height: 1em;
				font-size: 7em;
			}
			&--values{
				top: 18px;
				left: 79%;
				width: 1em;
				height: 1em;
				font-size: 7em;
			}
			&--program{
				top: -105px;
				left: 66.3%;
				width: 1em;
				height: 1em;
				font-size: 5.5em;
			}
		}
		&-text{
    	font-size: 12px;
    	padding: 5px 15px;
    	z-index: 10;
    	max-width: 310px;
			&--about{
				top: 39px;
				left: -30%;
			}
			&--values{
				top: 87px;
				left: -33px;
			}
			&--career{
				top: 80px;
			}
			&--program{
				top: 49px; 
				left: -118px;
			}
		}
	}
	.title{
		font-size: 32px;
	}
	.s-first-screen-secondary{
		padding-top: 120px;
		min-height: 466px;
		&-img-wrapper{
			width: 70%;
		}
	}
	.s-numbers{
		&__card{
			&-title{
				font-size: 24px;
			}
		}
	}
	.s-center{
		&__icon-cards{
			.icon-card{
				padding: 25px;
			}
		}
	}
	.video{
		&__play-btn{
			font-size: 3em;
		}
	}
	.our-values-slider{
		margin: 0 -30%;
		padding-bottom: 10px;
		margin-bottom: -10px;
	}
	.title-second{
		font-size: 30px;
		text-align: center;
		color: #262626;
		font-weight: 600;
		&--mb {
			&-short {
				margin-bottom: px_to_em(20, 30);
			}
			&-medium {
				margin-bottom: px_to_em(35, 30);
			}
			&-long {
				margin-bottom: px_to_em(50, 30);
			}
		}
	}
	@keyframes move {
		0% {
			top: -9%;
			left: 60%;	
		}
		45%{
					transform: rotate(0);
		}
		50% {
			transform: rotate(-20deg);
			left: 75%;
			top: 10%;
		}
	}
	@keyframes move-two {
		0% {
			top: 54%;
			left: 58%;	
		}
		45%{
					transform: rotate(0);
		}
		50% {
			transform: rotate(-10deg);
			left: 47%;
			top: 34%;
		}
	}
	@keyframes move-three {
		0% {
			left: 85%;
			top: 13%;
		}
		50% {
			left: 80%;
			top: 21%;
		}
	}
	@keyframes move-four {
		0% {
			top: 60%;
			left: 67%;
		}
		50% {
			top: 49%;
			left: 73%;
		}
	}
	@keyframes move-five {
		0% {
			left: 86%;
			top: -22%;
		}
		45% {
			transform: rotate(30deg);
			left: 70%;
			top: 10%;
		}
		100% {
			transform: rotate(40deg);
			left: 45%;
			top: 5%;
		}
	}
	.animation{
		&__car-down{
			top: -9%;
			left: 60%;	
			width: 1em;
			height: 1em;
			font-size: 1em;
			animation: move 8s infinite linear;
		}
		&__car-up{
			top: 54%;
			left: 58%;	
			width: 1em;
			height: 1em;
			font-size: 1em;
		}
		&__car-right{
			top: 60%;
			left: 67%;
			width: 1em;
			height: 1em;
			font-size: 1em;
			animation: move-four 3s infinite linear;
		}
		&__car-left{
			top: 13%;
			width: 1em;
			height: 1em;
			font-size: 1em;
			animation: move-three 3s infinite linear;
		}
		&__plane{
			left: 86%;
			top: -22%;
			width: 1em;
			height: 1em;
			font-size: 3em;
			animation: move-five 7.0s linear forwards;
		}
	}
	.s-conditions{
		&__image-blocks{
			.image-block{
				&__icon{
					font-size: 4em;
				}
			}
		}
	}
}

// BREAKPOINT SM TABLET
@media (max-width: $ss_sm_tablet) {
	.wrapper{
		font-size: 14px;
	}
	.img-links{
		display: none;
	}
	.s-first-screen{
    min-height: 313px;
		background-image: url(/images/home-bg-2.svg);
		background-position: 102% 30%;
		&__content{
			max-width: 242px;
		}
		&__interactive{
			display: none;
		}
	}
	.s-numbers{
		&__card{
			&-title{
				font-size: 20px;
			}
		}
	}
	.title-second{
		font-size: 26px;
	}
	.s-conditions{
		&__image-blocks{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: -50px;
			.image-block{
				width: 30%;
			}
		}
	}
	.our-values-slider{
		.swiper-slide{
			padding: 15px;
		}
	}
	.slider-arrow{
		font-size: 3em;
	}
	.s-direction{
		&__image-titled-blocks{
			.image-titled-block{
				padding: 20px;
			}
		}
	}
}


// BREAKPOINT PHONE
@media (max-width: $ss_phone) {
	.wrapper{
		width: calc(100% + 30px);
		margin: 0 -15px;
	}
	.title{
		font-size: 24px;
	}
	.s-first-screen{
		background-size: 51% auto;
		min-height: 213px;
    background-image: url(/images/home-bg-2.svg);
    background-position: 102% 79%;
		&__interactive{
			padding-top: 50px;
		}
	}
	.img-links{
		&-link{
			&--about{
				top: 8px;
				left: 74%;
				width: 1em;
				height: 1.5em;
				font-size: 2em;
			}
			&--career{
				top: 3px;
				left: 64.2%;
				width: 1em;
				height: 1em;
				font-size: 4em;
			}
			&--values{
				top: 23px;
				left: 82%;
				width: 1em;
				height: 1em;
				font-size: 3.5em;
			}
			&--program{
				top: -36px;
				left: 70%;
				width: 1em;
				height: 1em;
				font-size: 2.8em;
			}
		}
	}
	.s-first-screen-secondary{
		padding-top: 100px;
		&__inner{
			display: block;
		}
		&__content{
			margin-bottom: 30px;
		}
		&-img-wrapper{
			width: 100%;
		}
	}
	.s-numbers{
		&__cards{
			flex-wrap: wrap;
		}
		&__card{
			width: 100%;
			margin-bottom: 10px;
			&-title{
				font-size: 20px;
			}
		}
	}
	.s-conditions{
		&__image-blocks{
			.image-block{
				width: 100%;
			}
		}
	}
	.s-center{
		&__icon-cards{
			flex-wrap: wrap;
			.icon-card{
				width: 100%;
			}
		}
	}
	.video{
		&__play-btn{
			font-size: 2.5em;
		}
	}
	.our-values-slider{
		margin: 0 -60%;
		.swiper-slide{
			padding: 10px;
		}
	}
	.s-direction{
		&__image-titled-blocks{
			.image-titled-block{
				padding: 20px;
				width: 100%;
			}
		}
	}
	.s-find{
		&__inner{
			flex-wrap: wrap;
			margin-top: -20px;
		}
		&-card{
			width: 100%;
			&__image-wrapper{
				margin-bottom: 20px;
				padding-top: 20px;
			}
		}
	}
}